/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/* MY CODE */
body{
    background-color: rgba(0,97,86,1);
    background-image: url(img/df03d7784e7c099482fab1078a60b42e.svg);
    background-position: 100% 100%;
    padding: 40px 20px;
    color:rgba(255,255,255,1);
    display: flex;
    justify-content: center;
}

.container{
display: grid;
place-items: center;
align-self: center;
padding-top: 10rem;

}   

h1 {
    color: rgba(255,206,0,1);
    font-size: 2rem;
    padding: 1rem;
}

.g-input{
   background-color: #f2f2f2;
   border: none;
   border-radius: 5px;
   cursor: pointer; 
   padding: 1rem;
   outline: none;
}

#guess-btn{
    background-color: #f2f2f2;
    padding: 0.7rem 2rem; 
    border: none;
    border-radius: 20px;
    cursor: pointer; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#guess-btn:hover{
    background-color: rgba(255,206,0,1);
}

p{
font-size: 1.3rem;
color: #ff9;
padding-bottom: 1rem;
text-align: center;
}

@media only screen and (min-width: 290px){
    h1 {
        font-size: 1.5rem;
        padding: 0.5rem;
    }
    p{
        font-size: 1rem;
        color: #ff9;
        padding-bottom: 2.5rem;
        padding-top: 1rem;
        }

    .g-input{
        padding: 0.5rem 0.2rem;
}

    #guess-btn{
        padding: 0.5rem 0.5rem; 
        border: none;
        border-radius: 20px;
    }


}

@media only screen and (min-width: 768px){
    .container{
        padding-top: 15rem;
        } 
        
        
        h1 {
            font-size: 4rem;
        }

        p{
            font-size: 2rem;
            padding-bottom: 3rem;
            text-align: center;
            padding-top: 1rem;
            }


        .g-input{
            border: none;
            border-radius: 15px;
            cursor: pointer; 
            padding: 1rem  1rem;
            font-size: 2rem;
            }
            
        #guess-btn{
            padding: 1rem 4rem; 
            border: none;
            border-radius: 20px;
            cursor: pointer; 
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 2rem;
        }

          
}


@media only screen and (min-width: 1024px){
    .container{
        padding-top: 8rem;
        } 
        
}